html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 14px/18px Arial, Tahoma, sans-serif;
	background-color: #fff;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}

.container {
	max-width: 400px;
	margin: 15px auto;
	padding: 15px 15px;
	border: 1px solid #999;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

a.link {
	text-decoration: underline;
	color: #667;
}
a.link:hover {
	text-decoration: none;
}

h1 {
	font-size: 50px;
	line-height: 56px;
	color: #700;
}
.form-user {
	margin-top: 15px;
}
a.link-help {
	font: 11px Arial, Tahoma, sans-serif;
	font-style: italic;
	text-decoration: underline;
}
a.link-help:hover {
	text-decoration: none;
}
p.help {
	font: 12px Arial, Tahoma, sans-serif;
}
.rests-list {
	margin-top: 10px;
}
.rests-list div {
	display: inline-block;
	vertical-align: middle;
}
.rest-name {
	width: 85px;
}
.rests-list a {
	text-decoration: underline;
}
.rests-list a:hover {
	text-decoration: none;
}
.rests-list span,
.allrates span {
	display: inline-block;
}
.rate {
	width: 83px;
}
.rate span {
	height: 14px;
	background: url(../img/star.png) repeat-x;
}

.allrates {
	margin-top: 10px;
}
.rates-tabl td {
	color: #7e4aa6;
	padding-right: 10px;
	vertical-align: middle;
}
.total {
	font-weight: 700;
}

.review {
	margin-top: 20px;
}
.gallery {
	margin-top: 20px;	
	margin-bottom: 15px;
}
.social {
	margin-top: 20px;	
	margin-bottom: 15px;
}

.map-container {
  width: 100%;
  height: 300px;
  margin: 20px 0;
  border: 1px solid #ccc;
}
a.mode {
	font-style: italic;
	color: #339;
	text-decoration: underline;
}
a.mode:hover {
	text-decoration: none;
}




body.adm {
	background-color: #ccc;
}
.form-admin {
	margin-top: 15px;
}
.form-files-admin {
	margin-top: 15px;
	margin-bottom: 20px;
}
.restaurant {
	margin-right: 7px;
}
.btn-wrap-adm {
	display: inline-block;
	position: relative;
	width: 40%;
	height: 23px;
}
.btn-adm {
	position: absolute;
    background: -moz-linear-gradient(#aaa, #eee);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#aaa), to(#eee));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaa', endColorstr='#eee');
	
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    padding: 3px 7px;
    border: 1px solid #777;
}
.btn-adm:hover {
    background: -moz-linear-gradient(#ddd, #aaa);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#aaa));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#aaa');

	border: 1px solid #444;
}
.btn-adm:active {
    top: 1px;
}
.btn-adm:disabled {
    background: -moz-linear-gradient(#aaa, #ddd);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#aaa), to(#ddd));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaa', endColorstr='#ddd');

    border: 1px solid #777;
}
.send-btn-adm {
    margin-top: 15px;
    margin-bottom: 15px;
}
.review-adm,
.name-adm {
	font: 14px/18px Arial, Tahoma, sans-serif;
	padding: 5px 10px;
}