<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- Beans for Hibernate -->
	
	<bean id="myDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/revisor?useUnicode=true&amp;characterEncoding=utf8"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>
	</bean>
	
	<bean id="mySessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource"/>
		<property name="annotatedClasses">
			<list>
				<value>javapackage.domain.Restaurant</value>
				<value>javapackage.domain.User</value>
				<value>javapackage.domain.UserRole</value>
			</list>
		</property>
		<!-- 
		<property name="mappingResources">
			<list>
				<value>product.hbm.xml</value>
			</list>
		</property>
		-->
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.HSQLDialect
				hibernate.show_sql=true
			</value>
		</property>
	</bean>
	
	<!-- Диспетчер транзакций -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>
	
	<!-- Возможность прописывать транзакции в аннотациях -->
	<tx:annotation-driven />
	
	<!-- Для инъекций путем сканирования и аннотаций. Но вместо этого ниже прописываем бины вручную.
	<context:annotation-config/>
	<context:component-scan base-package="javapackage.services" />
	<context:component-scan base-package="javapackage.dao" />
	-->
	
	<!-- Бины для работы с рестораном -->
	<bean id="rDAO" class="javapackage.dao.restaurant.RestaurantDAOHiberImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<!--
	<bean id="rDAO" class="javapackage.dao.restaurant.RestaurantDAOJDBCImpl" />
	-->
	<bean class="javapackage.services.UserServiceImpl">
		<property name="restDAO" ref="rDAO" />
	</bean>
	<bean class="javapackage.services.AdminServiceImpl">
		<property name="restDAO" ref="rDAO" />
	</bean>
	
	<!-- Бины для работы с пользователем -->
	<bean id="uDAO" class="javapackage.dao.user.UserDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<bean id="myUserDetailsService" class="javapackage.services.MyUserDetailsService">
		<property name="userDAO" ref="uDAO" />
	</bean>
	
</beans>